page-mine {
   
    img{
        height: 20px;
        width: 20px;
    }
    .photo{
        border-radius: 60%;
        margin-left: 35%;
        height: 100px;
        width: 100px;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .but{
        float: right;
    }
}
